body {
  /* background-color: #5CDB95; */
  background-color: #28A660
}

h1 {
  color: #EDF5E1;
  text-align: center;
  font-family: 'Gravity-Bold';
  font-size: 85px;
}

.aboutme {
  color: #EDF5E1;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;
}

.pic_center {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.links {
  color: #EDF5E1;
  text-align: center;
  font-family: 'Gravity-Regular';
  font-size: 25px;
}

.socialIcons li a img {
   vertical-align: middle;
   padding: 5px;
   height: 40px;
}
.centerLinks {
   padding: 0px;
   margin: 0px;
   text-align: center;
}
.resume {
  width: 820px;
  margin-left: auto ;
  margin-right: auto ;
}
