body {
  /* background-color: #5CDB95; */
  background-color: #28A660
}

h1 {
  color: #EDF5E1;
  text-align: center;
  font-family: 'Gravity-Bold';
  font-size: 85px;
}

nav {
 display: block;
 width: 100%;
 position: fixed;
 top: 0px;
 /* height: 500px; */
}

nav ul {
    list-style: none;
    padding-left: 0px;
}

nav ul li {
    float: left;
}

.navbutton {
    color: #EDF5E1;
    text-decoration: none;
    padding: 10px;
    font-family: 'Gravity-Bold';
    font-size: 20px;
}

.currbutton {
    color: #EDF5E1;
    text-decoration: none;
    border-bottom: inset;
    /* border-color: #EDF5E1; */
    padding: 10px;
    font-family: 'Gravity-Bold';
    font-size: 20px;
}

.aboutme {
  font-family: "Gravity-Regular";
  color: #EDF5E1;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;
}

.pic_center {
  display: block;
  border-radius: 50%;
  border-style: inset;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.links {
  color: #EDF5E1;
  text-align: center;
  font-family: 'Gravity-Regular';
  font-size: 25px;
}

.socialIcons li a img {
   display: block;
   border-radius: 50%;
   border-style: outset;
   border-color: black;
   vertical-align: middle;
   /* padding: 5px; */
   height: 40px;
}
.centerLinks {
   padding: 0px;
   margin: 0px;
   text-align: center;
}
.resume {
  /* width: 1050px; */
  margin-left: auto ;
  margin-right: auto ;
  text-align: center;
}
