body {
  background-color: #5CDB95;
}

h1 {
  color: #EDF5E1;
  text-align: center;
  font-family: 'Gravity-Bold';
  font-size: 85px;
}

p {
  color: #EDF5E1;
  text-align: center;
}

p {
  color: #EDF5E1;
  text-align: center;
}
